# ignore ALL files in ANY directory named appJar
appJar/*
appJar/
__pycache__/
*.pyc
ys8.exe
script/rng.scp
.vscode/settings.json
seirenShuffleSettings.json
Ys_8_*.txt
notes.txt
executable/build/Seiren Shuffle/Analysis-00.toc
executable/build/Seiren Shuffle/base_library.zip
executable/build/Seiren Shuffle/EXE-00.toc
executable/build/Seiren Shuffle/PKG-00.toc
executable/build/Seiren Shuffle/PYZ-00.pyz
executable/build/Seiren Shuffle/PYZ-00.toc
executable/build/Seiren Shuffle/Seiren Shuffle.pkg
executable/build/Seiren Shuffle/Tree-00.toc
executable/build/Seiren Shuffle/Tree-01.toc
executable/build/Seiren Shuffle/Tree-02.toc
executable/build/Seiren Shuffle/warn-Seiren Shuffle.txt
executable/build/Seiren Shuffle/xref-Seiren Shuffle.html
executable/dist/Seiren Shuffle.exe
